@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Nunito:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html,
.focus-input::before {
    font-family: sans-serif;
    background: -webkit-linear-gradient(to left, #000000, #7b17aa, #1b1098);
    background: -o-linear-gradient(to left, #000000, #7b17aa, #1b1098);
    background: -moz-linear-gradient(to left, #000000, #7b17aa, #1b1098);
    background: linear-gradient(to left, #000000, #7b17aa, #1b1098);
}

.logo {
    position: fixed;
    width: 100%;
    max-width: 300px;
    top: 0;

}